@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
	font-family: 'Poppins';
	src: local('Poppins Regular'),
		url('./assets/fonts/Poppins-Regular.woff') format('woff');
	font-weight: 400;
}
@font-face {
	font-family: 'Poppins';
	src: local('Poppins Medium'),
		url('./assets/fonts/Poppins-Medium.woff') format('woff');
	font-weight: 500;
}

@font-face {
	font-family: 'Poppins';
	src: local('Poppins SemiBold'),
		url('./assets/fonts/Poppins-SemiBold.woff') format('woff');
	font-weight: 600;
}

@font-face {
	font-family: 'Poppins';
	src: local('Poppins Bold'),
		url('./assets/fonts/Poppins-Bold.woff') format('woff');
	font-weight: 700;
}

@font-face {
	font-family: 'Outfit';
	src: local('Outfit'), url('./assets/fonts/OutfitBold.woff') format('woff'),
		url('./assets/fonts/OutfitExtraBold.woff') format('woff'),
		url('./assets/fonts/OutfitBlack.woff') format('woff');
}

@font-face {
	font-family: 'Outfit';
	src: local('Poppins SemiBold'),
		url('./assets/fonts/Poppins-SemiBold.woff') format('woff'),
		local('Poppins Bold');
	unicode-range: U+2c, U+3b;
}

@layer base {
	html {
		@apply scroll-smooth font-body text-dark-75 leading-6;
	}

	/* Containers */
	section {
		@apply py-32 px-12 xl:py-40 xl:px-44
		/* border border-black */;
	}

	/* Typography */
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-heading;
	}

	h1,
	h2 {
		@apply font-extrabold text-5xl md:leading-[64px] md:text-[64px];
	}

	h3 {
		@apply font-bold text-4xl
		md:text-5xl;
	}

	h4 {
		@apply font-bold text-[2.5rem] leading-10
		md:text-4xl;
	}

	h5 {
		@apply font-black text-3xl leading-8
		md:text-4xl md:leading-9;
	}

	h6 {
		@apply font-black text-2xl leading-10;
	}

	button {
		@apply font-body rounded-[3px] uppercase;
	}
}

@layer components {
	/* For components e.g. btn-blue for buttons */
	.slide {
		@apply absolute w-full h-full bg-cover bg-no-repeat overflow-hidden transition duration-1000;
	}

	.slide-text {
		@apply absolute bottom-[15%] right-0 py-5 px-4 rounded-l-sm
		bg-dark-100  text-right text-light uppercase;
	}

	.pattern-divider {
		@apply bg-pattern bg-maroonSecondary h-[120px] bg-[length:120px_120px];
	}

	.section-container {
		@apply h-full flex flex-col items-center justify-center;
	}

	.section-content {
		@apply text-xl leading-8 mt-16 max-w-[1096px] flex flex-col gap-16 mx-auto;
	}

	.room-card-btn {
		@apply mt-0.5 w-full h-14 font-black text-2xl bg-light text-maroonPrimary border border-dark-25;
	}

	.room-modal-btn {
		@apply mt-0.5 w-full h-14 font-black text-2xl bg-maroonPrimary text-light;
	}

	.review-container {
		@apply flex flex-col gap-6 w-full;
	}

	.review-card {
		@apply w-full;
	}

	.form-input {
		@apply flex flex-col gap-2;
	}

	.book-submit-btn {
		@apply my-6 py-3 px-4 w-full h-20 font-black text-2xl bg-maroonPrimary text-light rounded-[3px];
	}
}
