@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
	font-family: 'Poppins';
	src: local('Poppins'),
		url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap');
}
@font-face {
	font-family: 'Outfit';
	src: local('Outfit'), url('../public/font/Outfit.ttf');
}

@font-face {
	font-family: 'Outfit';
	src: local('Poppins'), url('../public/font/Poppins-Bold.ttf');
	unicode-range: U+22, U+27, U+2c, U+3b;
}

@layer base {
	/* Containers */
	section {
		@apply py-32 px-12 xl:py-40 xl:px-44
		/* border border-black */;
	}

	html {
		@apply scroll-smooth font-body text-dark-75 leading-6;
	}

	/* Typography */
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-heading;
	}

	h1,
	h2 {
		@apply font-extrabold text-5xl md:leading-[64px] md:text-[64px];
	}

	h3 {
		@apply font-bold text-4xl
		md:text-5xl;
	}

	h4 {
		@apply font-bold text-[2.5rem] leading-10
		md:text-4xl;
	}

	h5 {
		@apply font-bold text-3xl
		md:text-4xl;
	}

	h6 {
		@apply font-bold text-[2.5rem] leading-10
		md:text-4xl;
	}

	/* 	
	h2 {
	}
	
	h4 {
	}
	h5 {
	}
	h6 {
	} */
}

@layer components {
	/* For components e.g. btn-blue for buttons */
	.slide {
		@apply absolute w-full h-full bg-cover bg-no-repeat overflow-hidden transition duration-1000;
	}

	.slide-text {
		@apply absolute bottom-[15%] right-0 py-5 px-4 rounded-l-sm
		bg-dark-100  text-right text-light uppercase;
	}

	.pattern-divider{
		@apply bg-pattern bg-maroonSecondary h-[120px] bg-[length:120px_120px];
		
	}
}
